.datatable__title-cell {
	position: relative;
}

.datatable__title-cell__text {
    display:  none ;
    margin-right: 2px;
}

.datatable__sort-column-icon {
	position: absolute;
	right: 2px;
	top: 2px;
	height: 26px;
	width: 16px;
	cursor: pointer;
	padding: 0px;
}
